*{
    margin: 0;padding: 0;
    box-sizing:border-box ;
}
.background{
    // background-color: red;
    background-image: url(https://hipbcoffee.com:8443/storage/public/vietnamesecoffee-1608174181.gif);
    background-size: cover;
    padding-top: 30px;
    background-position: center;
    .btn--login{
        background: transparent;
        font-size: 16px;
        font-weight: 600;
    }
   
}
