*{
    margin: 0;padding: 0;
    box-sizing:border-box ;
}
.background{
    background-image: url(https://lh6.googleusercontent.com/Q7MalAcMh7b-FGhFIdwkceITdaObBnSjQfYXBPSTgZTxKOPl1naXYLC5iIaUMlWBs7C4tqty2KMD8BdVDW9lxb-cPFwlwW1dh3b0uSdnET-Ol3ddhdZ6V10xDsFrttEXLovuDk6I);
    background-size: cover;
    padding-top: 30px;
    background-position: center;
    .btn--login{
        background: transparent;
        font-size: 16px;
        font-weight: 600;
    }
   
}
